<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
    crossorigin="anonymous" />
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap"
    rel="stylesheet">
  <title>
    <%= title %>
  </title>
</head>

<body>
  <header class="header">
    <div class="header__text-box">
      <h1 class="heading-primary">
        <span class="heading-primary--main">Private School</span>
        <span class="heading-primary--sub">dedicated to your success</span>
      </h1>

      <a href="#add-data" class="btn">View/Add Data</a>
      <a href="#about-section" class="btn">About us</a>

    </div>
  </header>
  <main>
    <section class="join-section" id="add-data">
      <div class="feature-box">
        <i class="fas fa-chalkboard-teacher feature-box__icon"></i>
        <h3 class="heading-tertiary u-margin-bottom-small">Trainer</h3>
        <p class="feature-box__text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
        <a href="/trainers" class="btn-join">View Trainers</a>
      </div>
      <div class="feature-box">
        <i class="fas fa-user-graduate feature-box__icon"></i>
        <h3 class="heading-tertiary u-margin-bottom-small">Student</h3>
        <p class="feature-box__text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
        <a href="/students" class="btn-join">View Students</a>
      </div>
      <div class="feature-box">
        <i class="fas fa-laptop-code feature-box__icon"></i>
        <h3 class="heading-tertiary u-margin-bottom-small">Course</h3>
        <p class="feature-box__text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
        <a href="/courses" class="btn-join">View Courses</a>
      </div>
      <div class="feature-box">
        <i class="far fa-file-code feature-box__icon"></i>
        <h3 class="heading-tertiary u-margin-bottom-small">Assignment</h3>
        <p class="feature-box__text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
        <a href="/assignments" class="btn-join">View Assignments</a>
      </div>
    </section>
    <section class="about-section" id="about-section">
      <div class="about-section__about">
        <h3 class="heading-secondary">
          About us
        </h3>
        <!-- <h3 class="heading-tertiary u-margin-bottom-small">You're going to fall in love with nature</h3> -->
        <p class="about-section__p">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti a recusandae ex nam fuga sapiente,
          odio ducimus dolorum consectetur architecto illum reiciendis dolor totam voluptatum similique fugit
          vero veniam eaque ut perferendis nulla, qui, temporibus laudantium magni. Fuga ea numquam tempore
          veritatis ducimus sequi dolores nam odio labore. Velit nobis tempore, rem ducimus perferendis quo,
          vero nemo unde maxime est officiis at repellat earum necessitatibus tenetur, eos laudantium ab
          laboriosam praesentium ex.
        </p>
      </div>
      <div class="composition">
        <img src="images/room.jpg" alt="photo 1" class="photo photo--p1">
        <img src="images/coding.jpg" alt="photo 2" class="photo photo--p2">
        <img src="images/library.jpg" alt="photo 3" class="photo photo--p3">
      </div>

    </section>
  </main>

  <footer>
    <section class="footer">
      <p class="footer__p">Tel.555-782998</p>
      <p class="footer__p">E-Mail: privateschool@gmail.com</p>
      <p class="footer__p">Fax. 555-783273</p>
      <p class="footer__p">Main Avenue 22 54672 NY</p>
    </section>
  </footer>
</body>

</html>